<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            This is a title
        </header>
        <main>
            <div>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
                <button type="button">Light Option</button>
            </div>
        </main>
        <footer>
            This is a footer
        </footer>
    </body>
</html>
