<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}">
        </script>
    </head>
    <body class="body flexbox flexbox--col">
        <header class="header mb-5">
            <div class="header__content mx-auto my-4">
                <p class="mb-3">Now Showing:</p>
                <h1 id="nowShowing" class="mx-3">N/A</h1>
                <a class="stop text-size-2">X</a>
            </div>
        </header>
        <main class="content mx-auto mt-5">
            <div class="flexbox flexbox--j--center flexbox--wrap buttons-grid">
                {% for pattern in patterns %}
                <a id="{{ pattern[1] }}" class="button p-3">{{ pattern[0] }}</a>
                {% endfor %}
            </div>
        </main>
        <footer class="p-3 mt-auto">
            Made by Phillip O'Reggio and Jared Tulayan
        </footer>
    </body>
</html>
