<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body class="content"
        <header>
            This is a title
        </header>
        <main>
            <div>
                {% for pattern in patterns %}
                <button type="button">{{ pattern }}</button>
                {% endfor %}
            </div>
        </main>
        <footer>
            This is a footer
        </footer>
    </body>
</html>
