@use 'sass:map';

@use 'control' as *;
@use 'colors' as *;
@use 'spacing' as *;

// Button Default
.button {
    @include control;

    padding: $spacing-p-button;
    background: $color-inactive;
    color: $color-fg;

    width: 30%;

    &:hover{
        background: $color-fg;
        color: $color-inactive;
    }

    &:active {
        background: $color-primary;
        color: $color-fg;
    }
}

@media screen and (max-width: 640px) {
    .button {
        width: 100%;
    }    
}
